<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_INoteTakingService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/NoteTakingApp" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_INoteTakingService" contract="ServiceReference1.INoteTakingService"
                name="WSHttpBinding_INoteTakingService">
                <identity>
                    <userPrincipalName value="DESKTOP-V0FENL2\JAYNISH" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>